Repository timelessco/react-components-template: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write, yarn format:package

.lintstagedrc.json:

{
  "**/*.{js,jsx,tx,tsx}": ["yarn lint"],
  "**/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn format:package"]
}

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dependency sort-package-json to v1.53.0
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dependency @types/react to v17.0.35
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dependency @babel/preset-env to v7.16.4
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dev deps
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(tsconfig): 🔧 add import helpers
  tsconfig.json
Due: prettier --write

chore(deps): ⬆️ add release it conventional changelog
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): pin dependency @release-it/conventional-changelog to 3.3.0
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

🚀 Release v2.1.0
  CHANGELOG.md
Due: prettier --write

chore(deps): ⬆️ update dependency lint-staged to v12.1.2
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dependency @types/react to v17.0.37
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dependency prettier to v2.5.0
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dev dependencies (minor) to v6.4.0
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

docs(storybook): 📝 update stories to csf 3 format
  .eslintrc.json
  .storybook/main.js
  babel.config.js
  package.json
  src/button/stories/Button.stories.tsx
  src/button/stories/button.css
  yarn.lock
Due: yarn lint, prettier --write, yarn format:package

docs(storybook): 📝 update stories to csf 3 format (#51)
  .eslintrc.json
  .storybook/main.js
  babel.config.js
  package.json
  src/button/stories/Button.stories.tsx
  src/button/stories/button.css
  yarn.lock
Due: yarn lint, prettier --write, yarn format:package

🚀 Release v3.0.0
  CHANGELOG.md
Due: prettier --write

chore(deps): ⬆️ update dependency eslint-plugin-storybook to v0.5.1
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dev dependencies (minor) to v6.4.2
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dev dependencies (major)
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(eslint): 🚨 fix lintin errors
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

build(node): 👷 update node version for builds
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps): ⬆️ update dependency lint-staged to v12.1.4
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dev dependencies (major) to v16
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dependency @commitlint/cli to v16.0.1
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(tsconfig): 🏷️ update types configs
  tsconfig.json
Due: prettier --write

build(ts): 💚 fix type def for emiting declaration
  tsconfig.json
  tsconfig.prod.json
Due: prettier --write
