Repository timelessco/react-components-template: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write, yarn format:package

.lintstagedrc.json:

{
  "**/*.{js,jsx,tx,tsx}": ["yarn lint"],
  "**/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn format:package"]
}

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn format:package

docs: add @navin-moorthy as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

docs: add @anuraghazra as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

docs(contributors): 📝 add project contributors
  package.json
Due: prettier --write, yarn format:package

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write, yarn format:package

build(release): 👷 update release commit msg
  .versionrc.json
Due: prettier --write

feat(release): ✨ add new release pipeline
  .commitlintrc.json
  .eslintignore
  .eslintrc.json
  .gacprc.json
  .github/workflows/test.yml
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  .lintstagedrc.json
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  .release-it.json
  .versionrc.json
  .vscode/extensions.json
  .vscode/settings.json
  babel.config.js
  jest.config.ts
  package.json
  src/button/__tests__/Button.test.tsx
  src/button/stories/Button.stories.tsx
  tsconfig.json
  yarn.lock
Due: yarn lint, prettier --write, yarn format:package

🚀 Release v2.0.0
  CHANGELOG.md
Due: prettier --write

docs(readme): 📝 update release docs
  README.md
Due: prettier --write

refactor(sb): ♻️ update storybook types import
  src/button/stories/Button.stories.tsx
Due: yarn lint, prettier --write

Add renovate.json
  renovate.json
Due: prettier --write

Update renovate.json
  renovate.json
Due: prettier --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update actions/setup-node action to v2
  .github/workflows/test.yml
Due: prettier --write

chore(deps): ⬆️ update dev dependencies (major)
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

revert(package): ⏪️ eslint major deps change
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

ci(actions): 👷 add lint & build pipeline
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: prettier --write

chore(deps): ⬆️ update dependency @testing-library/dom to v8.9.0
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dependency lint-staged to v11.2.6
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

chore(deps): ⬆️ update dependency @testing-library/jest-dom to v5.15.0
  package.json
  yarn.lock
Due: prettier --write, yarn format:package
